# CURSO USANDO PYTHON PARA ANÁLISE DE DADOS

https://www.udemy.com/usando-python-para-analise-de-dados

Evaldo Wolkers

## pandas

### Funcionalidades Essenciais - Ordenação, classificação e índices de eixos com rótulos duplicados

#### Ordenação

Podemos ordenar nossos conjuntos de dados pelas linhas ou pelas colunas usando o método sort_index(), que devolve um novo objeto ordenado.

In [1]:
import pandas as pd
import numpy as np

In [2]:
obj = pd.Series(range(5), index=['b','c','a','d','e'])

In [3]:
obj.sort_index()

a    2
b    0
c    1
d    3
e    4
dtype: int64

Para ordenar de forma decrescente, podemos adicionar o parâmetro ascending informando False.

In [4]:
obj.sort_index(ascending=False)

e    4
d    3
c    1
b    0
a    2
dtype: int64

Vamos agora trabalhar com ordenação em um DataFrame.

In [5]:
frame = pd.DataFrame(np.random.randn(5,5), columns=list('baced'),
                     index=['Brasil', 'Paraguai', 'Uruguai', 
                            'Colômbia', 'Venezuela'])

In [6]:
frame

                  b         a         c         e         d
Brasil    -0.108368  0.012112  0.202211  0.592508  1.556034
Paraguai   0.196217  1.898640  1.240220 -0.777313 -0.136503
Uruguai    0.295139 -0.294798 -0.538094  1.446337  0.486112
Colômbia  -0.656628 -0.098071 -0.102335 -0.813913  0.826468
Venezuela -0.506946  0.410218  1.297229  2.456446 -0.938509

In [7]:
frame.sort_index()

                  b         a         c         e         d
Brasil    -0.108368  0.012112  0.202211  0.592508  1.556034
Colômbia  -0.656628 -0.098071 -0.102335 -0.813913  0.826468
Paraguai   0.196217  1.898640  1.240220 -0.777313 -0.136503
Uruguai    0.295139 -0.294798 -0.538094  1.446337  0.486112
Venezuela -0.506946  0.410218  1.297229  2.456446 -0.938509

In [8]:
frame.sort_index(ascending=False)

                  b         a         c         e         d
Venezuela -0.506946  0.410218  1.297229  2.456446 -0.938509
Uruguai    0.295139 -0.294798 -0.538094  1.446337  0.486112
Paraguai   0.196217  1.898640  1.240220 -0.777313 -0.136503
Colômbia  -0.656628 -0.098071 -0.102335 -0.813913  0.826468
Brasil    -0.108368  0.012112  0.202211  0.592508  1.556034

Podemos usar o parâmetro axis para definir o eixo de ordenação.

In [9]:
frame.sort_index(axis=0)

                  b         a         c         e         d
Brasil    -0.108368  0.012112  0.202211  0.592508  1.556034
Colômbia  -0.656628 -0.098071 -0.102335 -0.813913  0.826468
Paraguai   0.196217  1.898640  1.240220 -0.777313 -0.136503
Uruguai    0.295139 -0.294798 -0.538094  1.446337  0.486112
Venezuela -0.506946  0.410218  1.297229  2.456446 -0.938509

In [10]:
frame.sort_index(axis=1)

                  a         b         c         d         e
Brasil     0.012112 -0.108368  0.202211  1.556034  0.592508
Paraguai   1.898640  0.196217  1.240220 -0.136503 -0.777313
Uruguai   -0.294798  0.295139 -0.538094  0.486112  1.446337
Colômbia  -0.098071 -0.656628 -0.102335  0.826468 -0.813913
Venezuela  0.410218 -0.506946  1.297229 -0.938509  2.456446

Para ordenar uma Series de acordo com seus valores, utilizamos o método sort_values().

In [11]:
obj = pd.Series([10, 58, 47, 36, 41, 12])

In [12]:
obj.sort_values()

0    10
5    12
3    36
4    41
2    47
1    58
dtype: int64

Por padrão, qualquer valor indicativo de ausência de dados será ordenado no final da Series.

In [13]:
obj = pd.Series([10, np.nan, 54, 7, -2, np.nan, -4])

In [14]:
obj

0    10.0
1     NaN
2    54.0
3     7.0
4    -2.0
5     NaN
6    -4.0
dtype: float64

In [15]:
obj.sort_values()

6    -4.0
4    -2.0
3     7.0
0    10.0
2    54.0
1     NaN
5     NaN
dtype: float64

Quanto ao DataFrame, podemos ordenar usando os dados de uma ou mais colunas, passando o nome das colunas como parâmetro para a opção by de sort_values. Assim: sort_values(by='coluna') ou sort_values(by=['coluna1', 'coluna2']).

In [16]:
frame = pd.DataFrame(np.random.randn(5,5), columns=list('baced'),
                     index=['Brasil', 'Paraguai', 'Uruguai', 
                            'Colômbia', 'Venezuela'])

In [17]:
frame

                  b         a         c         e         d
Brasil    -1.076761 -0.471715 -1.011586  0.037291  1.283424
Paraguai   0.519823 -0.116198 -0.853835  1.209229  1.215419
Uruguai    0.380659 -1.007203 -0.910112  3.825631 -0.135420
Colômbia   0.003577  1.285373  0.695583  0.248743 -0.142981
Venezuela -0.921838  0.527921  0.609900  0.227801  0.376140

In [18]:
frame.sort_values(by='c')

                  b         a         c         e         d
Brasil    -1.076761 -0.471715 -1.011586  0.037291  1.283424
Uruguai    0.380659 -1.007203 -0.910112  3.825631 -0.135420
Paraguai   0.519823 -0.116198 -0.853835  1.209229  1.215419
Venezuela -0.921838  0.527921  0.609900  0.227801  0.376140
Colômbia   0.003577  1.285373  0.695583  0.248743 -0.142981

In [19]:
frame.sort_values(by=['a','b'])

                  b         a         c         e         d
Uruguai    0.380659 -1.007203 -0.910112  3.825631 -0.135420
Brasil    -1.076761 -0.471715 -1.011586  0.037291  1.283424
Paraguai   0.519823 -0.116198 -0.853835  1.209229  1.215419
Venezuela -0.921838  0.527921  0.609900  0.227801  0.376140
Colômbia   0.003577  1.285373  0.695583  0.248743 -0.142981

#### Classificação

A classificação (rank) atribui posições iniciando em 1, indo até o número de pontos de dados válidos em um array. Por padrão, rank() resolve empates atribuindo a cada grupo a classificação média.

In [20]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])

In [21]:
obj

0    7
1   -5
2    7
3    4
4    2
5    0
6    4
dtype: int64

In [22]:
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

Podemos classificar de acordo com a ordem em que os dados são observados. Neste caso, em vez de usar a classificação média 4.5 para as entradas 3 e 6, elas foram definidas com 4 e 5, porque o rótulo 3 antecede ao 6.

In [23]:
obj.rank(method='first')

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

Podemos classificar de forma decrescente informando ascending=False.

In [24]:
obj = pd.Series([0, 1, 2, 3, 4, 5, 6])

In [25]:
obj.rank(ascending=False)

0    7.0
1    6.0
2    5.0
3    4.0
4    3.0
5    2.0
6    1.0
dtype: float64