# CURSO USANDO PYTHON PARA ANÁLISE DE DADOS

https://www.udemy.com/usando-python-para-analise-de-dados

Evaldo Wolkers

## Carregando e armazenando dados em vários formatos de arquivos

### Escrevendo dados em formato texto

Podemos exportar dados de um DataFrame para arquivos de texto usando o método to_csv() do DataFrame.
Vamos começar importando o Pandas e o Numpy.

In [1]:
import pandas as pd
import numpy as np

Agora vamos gerar um DataFrame com dados aleatórios, contendo 100.000 linhas e 26 colunas.
Vamos usar as letras do alfabeto para identificar as colunas.

In [10]:
df = pd.DataFrame(np.random.randn(100000, 26),
                  columns=list('ABCDEFGHIJKLMNOPQRSTUVWXYZ'))

Como você poderá ver na imagem a seguir, ao visualizar o conteúdo do Dataframe veremos apenas 8 linhas, sendo, quatro do início e quatro do final do DataFrame.
Isso porque foi definido o número máximo de linhas para oito com o comando:

In [12]:
pd.options.display.max_rows=8

In [11]:
df

,A,B,C,D,E,F,G,H,I,J,...,Q,R,S,T,U,V,W,X,Y,Z
0,0.485033,-0.345434,-0.393798,1.614686,-0.001967,0.100296,0.166128,0.652852,0.640477,-1.639274,...,-0.633519,-0.774972,-0.631694,-0.327312,1.148083,-0.573567,0.803969,0.364107,1.066088,0.849563
1,-1.016669,0.649413,-0.369399,0.945271,0.040730,1.099865,-0.601038,-1.014448,1.110866,0.069572,...,0.581508,-0.921817,-0.450664,-1.025606,-0.892891,0.369833,0.883211,-0.173558,-0.243798,0.733000
2,1.070810,-2.666222,-1.113743,-0.067586,-0.124944,0.008870,0.589807,0.108029,-0.264044,0.183298,...,-0.833616,1.620193,-0.958837,-0.529523,-1.257268,-0.726185,2.279548,1.282296,-0.544645,0.580070
3,0.093775,1.623235,2.905946,-0.042831,0.413616,0.764938,0.653329,1.082971,0.633434,1.216340,...,-0.177359,-1.422621,0.119717,1.012600,-1.043926,2.408754,-0.397450,-0.125611,-0.384994,1.476345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99996,1.320003,0.575220,0.822213,0.208702,1.086502,0.784380,0.202163,0.182784,0.568002,1.041433,...,0.209622,-1.735041,-1.561037,0.611450,-0.267709,1.118538,0.417651,-0.568213,0.423311,-1.043011
99997,-0.858624,-0.286410,1.084309,0.204710,0.094744,-0.055045,-0.594217,0.847468,0.077236,-1.485857,...,-1.321139,0.582319,-1.537939,-0.079713,-0.827211,0.402212,2.490340,-0.336243,-0.753009,0.655107
99998,0.843541,1.301511,0.441663,-1.363562,0.475709,0.450311,0.022528,-2.243839,-0.603900,-0.587130,...,-0.601389,-1.554070,-0.472206,0.128906,-0.638424,1.452614,2.302620,0.006880,-0.018298,-1.668283
99999,-1.797786,-0.110297,-1.156075,-0.601392,-0.775781,-0.107749,0.357712,-0.388636,-1.389150,-0.002033,...,-0.276535,-1.409405,0.880716,-1.618416,0.113897,1.593986,0.847909,0.905163,0.278620,-0.069898

Agora vamos exportar o conteúdo de nosso DataFrame para um arquivo chamado “dados1.csv”.

In [13]:
df.to_csv('dados1.csv')

Verifique na pasta onde está sendo executado o Jupyter Notebook o arquivo gerado.

![title](Picture1.png)

Veja o arquivo aberto no Excel e no Notepad++.

![title](Picture2.png)

![title](Picture3.png)

Por padrão o delimitador utilizado é a vírgula, porém, podemos definir um delimitador diferente utilizando sep=delimitador.

In [21]:
df.to_csv('dados2.csv', sep='/')

Veja o resultado:

![title](Picture4.png)

Observe que os rótulos, tanto das linhas, quanto das colunas foram exportados.

![title](Picture5.png)

Para gerar o arquivo sem o rótulo das linhas podemos especificar o parâmetro index=False.

In [30]:
df.to_csv('dados_sem_rotulos_das_linhas.csv', index=False)

Veja o arquivo gerado sem os rótulos das linhas.

![title](Picture6.png)

In [ ]:
Para gerar o arquivo sem o rótulo das colunas podemos especificar o parâmetro header=False.

In [29]:
df.to_csv('dados_sem_rotulos_das_colunas.csv', header=False)

Veja o arquivo gerado sem os rótulos das colunas.

![title](Picture7.png)

Podemos também especificar as colunas que queremos exportar e sua ordem.

In [32]:
df.to_csv('dados_colunas_especificas.csv', columns=['A', 'K', 'X', 'B', 'W'])

Veja o arquivo gerado.

![title](Picture8.png)

Podemos também exportar os dados de uma Series pois este objeto também possui o método to_csv().

Vamos utilizar o date_range do Pandas para gerar uma sequência de datas para utilizarmos como índice de nossa Serie. O índice conterá as datas de 01/01/2019 a 31/01/2019, para isso informamos os parâmetros start e end.

In [46]:
datas = pd.date_range(start='01/01/2019', end='31/01/2019')

In [47]:
datas

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10', '2019-01-11', '2019-01-12',
               '2019-01-13', '2019-01-14', '2019-01-15', '2019-01-16',
               '2019-01-17', '2019-01-18', '2019-01-19', '2019-01-20',
               '2019-01-21', '2019-01-22', '2019-01-23', '2019-01-24',
               '2019-01-25', '2019-01-26', '2019-01-27', '2019-01-28',
               '2019-01-29', '2019-01-30', '2019-01-31'],
              dtype='datetime64[ns]', freq='D')

![title](Picture9.png)

Agora vamos gerar uma sequência com 31 valores, utilizando a variável datas como índice.

In [48]:
serie = pd.Series(np.arange(31), index=datas)

In [49]:
serie

2019-01-01     0
2019-01-02     1
2019-01-03     2
2019-01-04     3
              ..
2019-01-28    27
2019-01-29    28
2019-01-30    29
2019-01-31    30
Freq: D, Length: 31, dtype: int32

Vamos agora exportar os dados da Serie para um arquivo.

In [50]:
serie.to_csv('serie.csv')

C:\Users\Wolkers\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

C:\Users\Wolkers\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

Este aviso diz que a assinatura do método to_csv das Series foi alinhada com a dos DataFrames e o argumento header terá seu valor padrão alterado de False para True. Agora, precisamos definir o valor do header para suprimir este aviso.

In [51]:
serie.to_csv('serie.csv', header=False)

Arquivo gerado:

![title](Picture10.png)

In [22]:
produtos = {'Descricao':['Açúcar','Aveia em flocos','Caldo de carne','Caldo de galinha',
            'Caldo de legumes','Catchup','Extrato de tomate','Gelatina em pó',
            'Iogurte de frutas','Leite de coco','Leite fermentado','Macarrão instantâneo',
            'Massa de lasanha','Óleo','Sal','Suco de frutas','Adoçante','Azeite',
            'Bebida láctea','Cereal','Creme de leite','Fermento biológico','Geleia',
            'Iogurte natural','Leite desnatado','Leite integral','Maionese','Molho de tomate',
            'Ovos','Sal grosso','Torradas','Arroz','Barras de cereal','Chá em saquinho','Essência de baunilha',
            'Fermento em pó','Granola','Leite condensado','Leite em pó','Macarrão','Maisena','Mostarda',
            'Polpa de tomate','Sopa','Vinagre','Massa de bolo','Biscoito','Café','Farinha de rosca','Farinha de mandioca',
            'Farinha de trigo','Farinha de milho','Feijão','Lentilha','Fubá','Soja','Farofa','Grão de bico','Achocolatado em pó',
            'Azeitonas','Palmito','Aspargo','Champignon','Atum','Ervilha','Milho'],
            'Preço':[10.25,35.24,10.24,8.88,6.47,18.25,10.12,8.76,7.40,6.04,
             20.00,23.00,12.92,12.80,12.68,12.56,12.43,12.31,12.19,
             12.07,11.94,11.82,11.70,11.58,11.46,11.33,11.21,11.09,
             10.97,10.84,10.72,10.60,10.48,10.35,10.23,10.11,9.99,
             9.86,9.74,9.62,9.50,9.37,9.25,9.13,9.01,8.88,8.76,
             8.64,8.52,8.39,8.27,8.15,8.03,7.90,7.78,7.66,7.54,7.41,
             7.29,7.17,7.05,6.93,6.80,6.68,6.56,6.44]}

In [23]:
produtos

{'Descricao': ['Açúcar',
  'Aveia em flocos',
  'Caldo de carne',
  'Caldo de galinha',
  'Caldo de legumes',
  'Catchup',
  'Extrato de tomate',
  'Gelatina em pó',
  'Iogurte de frutas',
  'Leite de coco',
  'Leite fermentado',
  'Macarrão instantâneo',
  'Massa de lasanha',
  'Óleo',
  'Sal',
  'Suco de frutas',
  'Adoçante',
  'Azeite',
  'Bebida láctea',
  'Cereal',
  'Creme de leite',
  'Fermento biológico',
  'Geleia',
  'Iogurte natural',
  'Leite desnatado',
  'Leite integral',
  'Maionese',
  'Molho de tomate',
  'Ovos',
  'Sal grosso',
  'Torradas',
  'Arroz',
  'Barras de cereal',
  'Chá em saquinho',
  'Essência de baunilha',
  'Fermento em pó',
  'Granola',
  'Leite condensado',
  'Leite em pó',
  'Macarrão',
  'Maisena',
  'Mostarda',
  'Polpa de tomate',
  'Sopa',
  'Vinagre',
  'Massa de bolo',
  'Biscoito',
  'Café',
  'Farinha de rosca',
  'Farinha de mandioca',
  'Farinha de trigo',
  'Farinha de milho',
  'Feijão',
  'Lentilha',
  'Fubá',
  'Soja',
  'Farofa',
  'Grão de bico',
  'Achocolatado em pó',
  'Azeitonas',
  'Palmito',
  'Aspargo',
  'Champignon',
  'Atum',
  'Ervilha',
  'Milho'],
 'Preço': [10.25,
  35.24,
  10.24,
  8.88,
  6.47,
  18.25,
  10.12,
  8.76,
  7.4,
  6.04,
  20.0,
  23.0,
  12.92,
  12.8,
  12.68,
  12.56,
  12.43,
  12.31,
  12.19,
  12.07,
  11.94,
  11.82,
  11.7,
  11.58,
  11.46,
  11.33,
  11.21,
  11.09,
  10.97,
  10.84,
  10.72,
  10.6,
  10.48,
  10.35,
  10.23,
  10.11,
  9.99,
  9.86,
  9.74,
  9.62,
  9.5,
  9.37,
  9.25,
  9.13,
  9.01,
  8.88,
  8.76,
  8.64,
  8.52,
  8.39,
  8.27,
  8.15,
  8.03,
  7.9,
  7.78,
  7.66,
  7.54,
  7.41,
  7.29,
  7.17,
  7.05,
  6.93,
  6.8,
  6.68,
  6.56,
  6.44]}